.focus {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 5fr;
    grid-auto-rows: 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    
}
.news {
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: end;
    padding: 2em;
}
.time {
    text-align: right;
    align-self: end;
    padding: 2rem;
    grid-column-start: 2;
}
.time-date {
    font-size: 2em;
    letter-spacing: 0.1ch;
    margin: 0;
    margin-top: 0.2em;
    color: #ccc;
    text-transform: uppercase;
}
.digital {
    display: block;
    color: #999;
    font-size: 3rem;
}
.nice {
    display: block;
    font-size: 4.5rem;
    
}
.nice-hour {
    text-transform: capitalize;
    margin-right: 0.3em;
    font-weight: 900;
}

.nice-text {
    font-weight: 200;
}

.weather {
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
}

.weather-icon {
    font-size: 15rem;
    color: #555;
}

.weather-temp {
    font-size: 8rem;
    margin-top: -0.6em;
    margin-right: -0.2em;
    font-weight: 900;
}

.weather-deg {
    font-weight: 100;
}

.weather-type {
    font-style: italic;
    font-weight: 300;
    font-size: 3rem;
    margin-top: -0.5em;
    color: #ccc;
}

.weather-sunset {
    font-size: 2rem;
    margin-top: 0.3em;
    color: #999;
}