html, body {
  background: black; }

.region {
  flex-grow: 1;
  flex-shrink: 1;
  transition: all ease .2s;
  overflow: hidden; }

.mirror-row {
  transition: all ease .2s; }

.col-1, .col-2 {
  flex-basis: 5%; }

.col-3 {
  flex-basis: 90%; }

.level-0 {
  background-color: rgba(255, 255, 255, 0.8);
  color: black; }

.level-1 {
  background-color: rgba(255, 255, 255, 0.5); }

.level-2 {
  background-color: rgba(255, 255, 255, 0.3); }

.level-3 {
  background-color: rgba(255, 255, 255, 0.1); }

.level-4 {
  background-color: transparent; }

.w-l {
  flex-basis: 82%; }

.w-s {
  flex-basis: 9%; }

.w-m {
  flex-basis: 33%; }

.h-l {
  height: 90vh; }

.h-s {
  height: 5vh; }

.h-m {
  flex-basis: 33.33333vw; }
