@font-face {
  font-family: "DEG7";
  src: url("./DSEG7ClassicMini-Italic.woff2") format("woff2"); }

html, body {
  background: black;
  overflow-x: hidden; }

.focus {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 6fr;
  grid-auto-rows: 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  --text-glow: 0 0 4px #ff0006, 0 0 30px #e64d06, 0 0 10px #e64d06;
  --subtle-glow: 0 0 2px #fff, 0 0 90px #e9d7ce85, 0 0 30px #fff9f770;
  --tiny-glow: 0 0 2px #fff, 0 0 90px #e9d7ce85, 0 0 10px #fff9f770;
  color: white; }

.news {
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: end;
  padding: 2em; }

.time {
  text-align: right;
  align-self: end;
  padding: 2rem;
  grid-column-start: 2;
  display: flex;
  align-items: flex-end;
  flex-flow: column; }

.time-date {
  font-size: 2em;
  letter-spacing: 0.1ch;
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 0.2em;
  display: block;
  text-align: center;
  text-transform: uppercase; }

.time-dow {
  font-size: 2rem;
  display: block;
  width: 100%;
  letter-spacing: 0.3ch;
  box-shadow: var(--tiny-glow);
  text-shadow: 0 0 2px #000, 0 0 90px #e9d7ce85, 0 0 30px #fff9f770;
  font-weight: bold;
  color: transparent;
  background: #ccc;
  padding: 0.4rem 2rem;
  box-sizing: border-box;
  margin-bottom: 1rem; }

.time-day {
  display: block;
  text-shadow: var(--tiny-glow);
  box-sizing: border-box;
  color: #ddd;
  width: 100%;
  padding: 0.4rem 1rem; }

.digital {
  display: block;
  font-family: 'DEG7';
  color: #e64d06;
  text-shadow: var(--text-glow);
  font-size: 3rem; }

.nice {
  display: inline-block;
  text-shadow: var(--subtle-glow);
  color: #ddd;
  width: 80%;
  font-size: 4.5rem; }

.nice-hour {
  text-transform: capitalize;
  font-weight: 900; }

.nice-hour:first-child {
  margin-right: 0.3em; }

.nice-text {
  font-weight: 200; }

.weather {
  --marginRight: 0;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column-start: 2; }

.weather-icon {
  font-size: 15rem;
  opacity: 0.7;
  z-index: 5;
  text-shadow: var(--text-glow);
  color: #e64d06; }

.weather-temp {
  text-align: right;
  font-size: 8rem;
  padding-right: var(--marginRight);
  margin-top: -1em;
  margin-bottom: 0;
  z-index: 10;
  text-shadow: var(--subtle-glow);
  font-weight: 900; }

.weather-deg {
  font-weight: 100;
  position: absolute;
  color: #fff; }

.weather-type {
  text-align: right;
  font-style: italic;
  text-align: right;
  padding-right: var(--marginRight);
  font-weight: 300;
  text-shadow: var(--subtle-glow);
  position: relative;
  z-index: 10;
  font-size: 3rem;
  margin-top: -0.1em;
  margin-bottom: 0;
  color: #ddd; }

.weather-rain-icon {
  color: #333;
  margin-left: 0.4em; }

.weather-rain-icon--active {
  color: #e64d06;
  text-shadow: var(--text-glow); }

.weather-sunset {
  text-align: right;
  font-size: 2rem;
  padding-right: var(--marginRight);
  margin-top: 0.4em;
  color: #999; }

.weather-sunset-label {
  display: block;
  font-size: 0.7em;
  text-transform: uppercase; }

.weather-sunset-icon {
  color: #e64d06;
  text-shadow: var(--text-glow);
  margin-right: 1rem; }

.NewsItem__title {
  text-shadow: var(--tiny-glow); }
