
.ease-all {
  transition: all ease 0.2s;
}

@media #{$breakpoint-not-small}{
  .rotate-10-ns { transform: rotate(10deg); }
  .hover-rotate-10-ns:hover { transform: rotate(10deg); }
}

@media #{$breakpoint-medium}{
  .rotate-10-m { transform: rotate(10deg); }
  .hover-rotate-10-m:hover { transform: rotate(10deg); }

}

@media #{$breakpoint-large}{
  .rotate-10-l { transform: rotate(10deg); }
  .hover-rotate-10-l:hover { transform: rotate(10deg); }
}

.mh-100 {
  max-height: 100%;
}

.anti-dim {
  opacity: .5;
  transition: opacity .15s ease-in;
}
.anti-dim:hover,
.anti-dim:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.anti-dim:active {
  opacity: .7; transition: opacity .15s ease-out;
}

@for $i from 0 through 10 {
      .fls#{$i} {
        flex-shrink: $i;
      }
}

@for $i from 0 through 10 {
    .flg#{$i} {
      flex-grow: $i;
    }
}

.flb-auto {
  flex-basis: auto;
}


.flb1 {
  flex-basis: 1em;
}

.flb2 {
  flex-basis: 2em;
}

.flb3 {
  flex-basis: 4em;
}

.flb4 {
  flex-basis: 8em;
}

.flb5 {
  flex-basis: 16em;
}

.flb-100 {
  flex-basis: 100%;
}


.flb-90 {
  flex-basis: 90%;
}

.flb-50 {
  flex-basis: 50%;
}

.flb-25 {
  flex-basis: 25%;
}

.flb-33 {
  flex-basis: 33%;
}

.flb-66 {
  flex-basis: 66%;
}

.translate-px1 {
  transform: translateX(100%);
}

.translate-nx1 {
  transform: translateX(-100%);
}

.translate-py1 {
  transform: translateY(100%);
}

.translate-ny1 {
  transform: translateY(-100%);
}

.ma-3 {
  margin: 3em;
}

.h-fit-content {
  height: fit-content;
}

.h-85vh {
  height: 90vh;
}

.mh-90v {
  max-height: 90vh;
}

.grid {
  display: grid;
}

.grid-1-col {
  grid-template-columns: 1fr;
}

.grid-2-col {
  grid-template-columns: auto auto;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-row {
  grid-template-rows: 1fr 1fr;
}

.grid-3-row {
  grid-template-rows: auto auto auto;
}

.col-1 {
  grid-column-start: 1;
}

.col-2 {
  grid-column-start: 2;
}

@for $i from 0 through 10 {
  .span-row-#{$i} {
    grid-row-end: span $i;
  }
  .span-col-#{$i} {
    grid-column-end: span $i;
  }
  .f-#{$i} {
    font-size: #{$i}rem;
  }
}

.g-items-start {
  justify-items: start;
}

.g-items-center {
  justify-items: center;
}

.g-self-end {
  align-self: end;
}

.g-self-center {
  align-self: center;
}

.absolute--center {
  right: 50%;
  transform: translateX(50%);
}